html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ad9091;
}

.main {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.header-section {
    background-color: #112325;
    color: white;
    padding: 0 10px;
}

.header-section p {
    width: 65%;
}

.header-section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: row;
    width: 30%;
    text-decoration: none;
    list-style-type: none;
    color: #f4f4f4;
}

.header-section-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 25px 0;
}

.header-section-two img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero-section {
    padding: 0 10px;
    background-color: #ebe5e5;
}

button {
    background-color: #112325;
    color: white;
    border: none;
    border-radius: 0.75rem;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    transition: all 0.3s ease-in-out;
    background-color: #0e1a1a;
    scale: 1.05;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

footer {
    background-color: #112325;
    color: white;
    margin: 25px 0;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

form input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px;
}

form input:focus {
    border: none;
    outline: none;
}

.input-span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    background-color: #d1cfd6;
    margin: 10px 0;
}

.skills-section {
    list-style-type: none;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.skills {
   background-color: #b94c51;
   padding: 20px 25px;
   border-radius: 30px;
   user-select: none;
}

.skills:hover {
    animation: fadeIn 0.5s ease-in-out;
    background-color: #a03f43;
}

@keyframes fadeIn {
    0% {
        rotate: 0deg;
        transform: scale(1);
    }
    25% {
        rotate: -5deg;
        transform: scale(1.025);
    }
    50% {
        rotate: 5deg;
        transform: scale(1.05);
    }
    75% {
        rotate: -5deg;
        transform: scale(1.025);
    }
    100% {
        rotate: 0deg;   
        transform: scale(1);
    }
}

.edu-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 30px 0;
    user-select: none;
}

thead {
    background: linear-gradient(to right, #672980, #110b4d);
    color: white;
}

.tr-body {
    background-color: #d1cfd6;
}

.tr-body:hover {
    background-color: #c4c2c7;
}